@import '../../../variables.scss';

div.Post {
    width: 100%;
    margin: 50px auto 0;
    @include flex(column, center, center, wrap);
    background: $text-bg;
    box-shadow: 0 0 250px 15px $text-bg;
    
    h2 {
        margin: 0;
        font-size: 4rem;
    }
    
    input {
        font-size: 4rem;
    }
    
    textarea {
        width: 100%;
        height: 200px;
    }
    
    span {
        font-size: 1.3rem;
        color: slategray;
    }
    
    p {
        font-size: 2rem;
        white-space: pre-line;
    }

}
