@import '../../variables.scss';

div.Blog {
    width: 100%;
    
    h1 {
        font-size: 8rem;
    }

    div.PostWall {
        width: 100%;
        @include flex(column, flex-start, center);
        
        div.Post {
            width: calc(100% - 60px);
            border: 1px solid $dark;
            border-radius: 25px;
            padding: 20px 30px;
            margin: 20px 0;
            background: $text-bg;
            cursor: pointer;
            transition: .3s ease-out;
            
            h2 {
                margin: 0;
                font-size: 4rem;
            }
            
            span {
                font-size: 1.5rem;
                color: slategray;
            }
            
            &:hover {
                transform: scale(1.05);
            }

            &.Loading {
                animation: shine ease-in-out 3s infinite;
                background: linear-gradient(to right, $text-bg 25%, $mid, $text-bg 75%);
                background-size: 400%;

                h2 {
                    background: $dark;
                    width: 75%;
                    height: 4rem;
                    border-radius: 25px;
                }

                span {
                    background: slategray;
                    width: 25%;
                    height: 2rem;
                    border-radius: 25px;
                    margin-top: 15px;
                }
                
            }
            
        }

    }

}
