@import '../../variables.scss';

div.Blog{
    
    h1 {
        font-size: 8rem;
    }

    div.Post {
        border: 1px solid black;
        border-radius: 25px;
        padding: 20px 30px;
        margin: 20px auto;
        background: $blog-bg;
        cursor: pointer;
        transition: .3s ease-out;
        
        h2 {
            margin: 0;
            font-size: 4rem;
        }

        span {
            font-size: 1.5rem;
            color: slategray;
        }

        &:hover {
            transform: scale(1.05);
        }

    }

}
